<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p class="main-description">Use this site to get your weather! </p>

        <form class="main-form">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        {{!-- try to remove first weather description --}}
        {{!-- <p id="message-1"></p>
        <div class="main-wrap">
            <p id="message-img"></p>   
            <p id="message-2"></p>
        </div> --}}
        

        <p id="message-1"></p>
        <div class="forecast-content">
            <p id="message-2" class="grid-item"></p>
            <p id="message-3" class="grid-item"></p>
            <div class="grid-item">
                <p id="message-4"></p>
                <p id="message-5"></p>
            </div>
        </div>

    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>