<header>
    <h1>{{title}}</h1>

    <div class="main-links">
        <a href="/" class="first-link">Weather</a>
        <a href="/about" class="second-link">About</a>
        <a href="/help" class="third-link">Help</a>
    </div>
    
</header>